<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Bst0202 - Bank Transaction-->
    <bean class="${name.package.project}.app.bst.bst0202.Bst0202Action" id="bst0202Action" name="bst0202Action"/>
    <bean class="${name.package.project}.app.bst.bst0202.Bst0202BizImpl" id="bst0202Biz" name="bst0202Biz" parent="baseBiz"/>
</beans>
