<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Rpt0202 - -->
    <bean class="${name.package.project}.app.rpt.rpt0202.Rpt0202Action" id="rpt0202Action" name="rpt0202Action"/>
    <bean class="${name.package.project}.app.rpt.rpt0202.Rpt0202BizImpl" id="rpt0202Biz" name="rpt0202Biz" parent="baseBiz"/>
</beans>
