<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Sys0202 - -->
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202Action" id="sys0202Action" name="sys0202Action"/>
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202BizImpl" id="sys0202Biz" name="sys0202Biz" parent="baseBiz"/>
</beans>