<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Sba0202 - -->
    <bean class="${name.package.project}.app.sba.sba0202.Sba0202Action" id="sba0202Action" name="sba0202Action"/>
    <bean class="${name.package.project}.app.sba.sba0202.Sba0202BizImpl" id="sba0202Biz" name="sba0202Biz" parent="baseBiz"/>
    <!--Sba0204 - -->
    <bean class="${name.package.project}.app.sba.sba0204.Sba0204Action" id="sba0204Action" name="sba0204Action"/>
    <bean class="${name.package.project}.app.sba.sba0204.Sba0204BizImpl" id="sba0204Biz" name="sba0204Biz" parent="baseBiz"/>
    <!--Sba0402 - -->
    <bean class="${name.package.project}.app.sba.sba0402.Sba0402Action" id="sba0402Action" name="sba0402Action"/>
    <bean class="${name.package.project}.app.sba.sba0402.Sba0402BizImpl" id="sba0402Biz" name="sba0402Biz" parent="baseBiz"/>
    <!--Sba0404 - -->
    <bean class="${name.package.project}.app.sba.sba0404.Sba0404Action" id="sba0404Action" name="sba0404Action"/>
    <bean class="${name.package.project}.app.sba.sba0404.Sba0404BizImpl" id="sba0404Biz" name="sba0404Biz" parent="baseBiz"/>
    <!--Sba0406 - -->
    <bean class="${name.package.project}.app.sba.sba0406.Sba0406Action" id="sba0406Action" name="sba0406Action"/>
    <bean class="${name.package.project}.app.sba.sba0406.Sba0406BizImpl" id="sba0406Biz" name="sba0406Biz" parent="baseBiz"/>
    <!--Sba0408 - -->
    <bean class="${name.package.project}.app.sba.sba0408.Sba0408Action" id="sba0408Action" name="sba0408Action"/>
    <bean class="${name.package.project}.app.sba.sba0408.Sba0408BizImpl" id="sba0408Biz" name="sba0408Biz" parent="baseBiz"/>
    <!--Sba0410 - -->
    <bean class="${name.package.project}.app.sba.sba0410.Sba0410Action" id="sba0410Action" name="sba0410Action"/>
    <bean class="${name.package.project}.app.sba.sba0410.Sba0410BizImpl" id="sba0410Biz" name="sba0410Biz" parent="baseBiz"/>
    <!--Sba0412 - -->
    <bean class="${name.package.project}.app.sba.sba0412.Sba0412Action" id="sba0412Action" name="sba0412Action"/>
    <bean class="${name.package.project}.app.sba.sba0412.Sba0412BizImpl" id="sba0412Biz" name="sba0412Biz" parent="baseBiz"/>
    <!--Sba0414 - -->
    <bean class="${name.package.project}.app.sba.sba0414.Sba0414Action" id="sba0414Action" name="sba0414Action"/>
    <bean class="${name.package.project}.app.sba.sba0414.Sba0414BizImpl" id="sba0414Biz" name="sba0414Biz" parent="baseBiz"/>
    <!--Sba0416 - -->
    <bean class="${name.package.project}.app.sba.sba0416.Sba0416Action" id="sba0416Action" name="sba0416Action"/>
    <bean class="${name.package.project}.app.sba.sba0416.Sba0416BizImpl" id="sba0416Biz" name="sba0416Biz" parent="baseBiz"/>
</beans>
