<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Sys0202 - Common Code-->
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202Action" id="sys0202Action" name="sys0202Action"/>
    <bean class="${name.package.project}.app.sys.sys0202.Sys0202BizImpl" id="sys0202Biz" name="sys0202Biz" parent="baseBiz"/>
    <!--Sys0204 - Country / Currency Code-->
    <bean class="${name.package.project}.app.sys.sys0204.Sys0204Action" id="sys0204Action" name="sys0204Action"/>
    <bean class="${name.package.project}.app.sys.sys0204.Sys0204BizImpl" id="sys0204Biz" name="sys0204Biz" parent="baseBiz"/>
    <!--Sys0402 - Menu-->
    <bean class="${name.package.project}.app.sys.sys0402.Sys0402Action" id="sys0402Action" name="sys0402Action"/>
    <bean class="${name.package.project}.app.sys.sys0402.Sys0402BizImpl" id="sys0402Biz" name="sys0402Biz" parent="baseBiz"/>
    <!--Sys0404 - Authority Group-->
    <bean class="${name.package.project}.app.sys.sys0404.Sys0404Action" id="sys0404Action" name="sys0404Action"/>
    <bean class="${name.package.project}.app.sys.sys0404.Sys0404BizImpl" id="sys0404Biz" name="sys0404Biz" parent="baseBiz"/>
    <!--Sys0406 - Menu - Authority Group-->
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406Action" id="sys0406Action" name="sys0406Action"/>
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406BizImpl" id="sys0406Biz" name="sys0406Biz" parent="baseBiz"/>
    <!--Sys0602 - Organisation Management-->
    <bean class="${name.package.project}.app.sys.sys0602.Sys0602Action" id="sys0602Action" name="sys0602Action"/>
    <bean class="${name.package.project}.app.sys.sys0602.Sys0602BizImpl" id="sys0602Biz" name="sys0602Biz" parent="baseBiz"/>
    <!--Sys0604 - User Management-->
    <bean class="${name.package.project}.app.sys.sys0604.Sys0604Action" id="sys0604Action" name="sys0604Action"/>
    <bean class="${name.package.project}.app.sys.sys0604.Sys0604BizImpl" id="sys0604Biz" name="sys0604Biz" parent="baseBiz"/>
    <!--Sys0802 - Financial Period Type-->
    <bean class="${name.package.project}.app.sys.sys0802.Sys0802Action" id="sys0802Action" name="sys0802Action"/>
    <bean class="${name.package.project}.app.sys.sys0802.Sys0802BizImpl" id="sys0802Biz" name="sys0802Biz" parent="baseBiz"/>
    <!--Sys0804 - Income Type-->
    <bean class="${name.package.project}.app.sys.sys0804.Sys0808Action" id="sys0804Action" name="sys0804Action"/>
    <bean class="${name.package.project}.app.sys.sys0804.Sys0808BizImpl" id="sys0804Biz" name="sys0804Biz" parent="baseBiz"/>
    <!--Sys0806 - Expenditure Type-->
    <bean class="${name.package.project}.app.sys.sys0806.Sys0806Action" id="sys0806Action" name="sys0806Action"/>
    <bean class="${name.package.project}.app.sys.sys0806.Sys0806BizImpl" id="sys0806Biz" name="sys0806Biz" parent="baseBiz"/>
    <!--Sys0808 - Asset Type-->
    <bean class="${name.package.project}.app.sys.sys0808.Sys0808Action" id="sys0808Action" name="sys0808Action"/>
    <bean class="${name.package.project}.app.sys.sys0808.Sys0808BizImpl" id="sys0808Biz" name="sys0808Biz" parent="baseBiz"/>
    <!--Sys0810 - Repayment Type-->
    <bean class="${name.package.project}.app.sys.sys0810.Sys0810Action" id="sys0810Action" name="sys0810Action"/>
    <bean class="${name.package.project}.app.sys.sys0810.Sys0810BizImpl" id="sys0810Biz" name="sys0810Biz" parent="baseBiz"/>
    <!--Sys0812 - Borrowing Type-->
    <bean class="${name.package.project}.app.sys.sys0812.Sys0812Action" id="sys0812Action" name="sys0812Action"/>
    <bean class="${name.package.project}.app.sys.sys0812.Sys0812BizImpl" id="sys0812Biz" name="sys0812Biz" parent="baseBiz"/>
    <!--Sys0814 - Lending Type-->
    <bean class="${name.package.project}.app.sys.sys0814.Sys0814Action" id="sys0814Action" name="sys0814Action"/>
    <bean class="${name.package.project}.app.sys.sys0814.Sys0814BizImpl" id="sys0814Biz" name="sys0814Biz" parent="baseBiz"/>
    <!--Sys0816 - Tax Table Mgmt.-->
    <bean class="${name.package.project}.app.sys.sys0816.Sys0816Action" id="sys0816Action" name="sys0816Action"/>
    <bean class="${name.package.project}.app.sys.sys0816.Sys0816BizImpl" id="sys0816Biz" name="sys0816Biz" parent="baseBiz"/>
    <!--Sys9902 - Annoucement-->
    <bean class="${name.package.project}.app.sys.sys9902.Sys9902Action" id="sys9902Action" name="sys9902Action"/>
    <bean class="${name.package.project}.app.sys.sys9902.Sys9902BizImpl" id="sys9902Biz" name="sys9902Biz" parent="baseBiz"/>
    <!--Sys9904 - Free Board-->
    <bean class="${name.package.project}.app.sys.sys9904.Sys9904Action" id="sys9904Action" name="sys9904Action"/>
    <bean class="${name.package.project}.app.sys.sys9904.Sys9904BizImpl" id="sys9904Biz" name="sys9904Biz" parent="baseBiz"/>
</beans>
