<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Bsa0202 - Bank Statement Allocation-->
    <bean class="${name.package.project}.app.bsa.bsa0202.Bsa0202Action" id="bsa0202Action" name="bsa0202Action"/>
    <bean class="${name.package.project}.app.bsa.bsa0202.Bsa0202BizImpl" id="bsa0202Biz" name="bsa0202Biz" parent="baseBiz"/>
</beans>
