<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Rkm0202 - Sales Income-->
    <bean class="${name.package.project}.app.rkm.rkm0202.Rkm0202Action" id="rkm0202Action" name="rkm0202Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0202.Rkm0202BizImpl" id="rkm0202Biz" name="rkm0202Biz" parent="baseBiz"/>
    <!--Rkm0206 - Other Income T2-->
    <bean class="${name.package.project}.app.rkm.rkm0206.Rkm0206Action" id="rkm0206Action" name="rkm0206Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0206.Rkm0206BizImpl" id="rkm0206Biz" name="rkm0206Biz" parent="baseBiz"/>
    <!--Rkm0204 - Other Income T1-->
    <bean class="${name.package.project}.app.rkm.rkm0204.Rkm0204Action" id="rkm0204Action" name="rkm0204Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0204.Rkm0204BizImpl" id="rkm0204Biz" name="rkm0204Biz" parent="baseBiz"/>
    <!--Rkm0402 - General Expense-->
    <bean class="${name.package.project}.app.rkm.rkm0402.Rkm0402Action" id="rkm0402Action" name="rkm0402Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0402.Rkm0402BizImpl" id="rkm0402Biz" name="rkm0402Biz" parent="baseBiz"/>
    <!--Rkm0404 - Asset Expense-->
    <bean class="${name.package.project}.app.rkm.rkm0404.Rkm0404Action" id="rkm0404Action" name="rkm0404Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0404.Rkm0404BizImpl" id="rkm0404Biz" name="rkm0404Biz" parent="baseBiz"/>
    <!--Rkm0602 - Repayment-->
    <bean class="${name.package.project}.app.rkm.rkm0602.Rkm0602Action" id="rkm0602Action" name="rkm0602Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0602.Rkm0602BizImpl" id="rkm0602Biz" name="rkm0602Biz" parent="baseBiz"/>
    <!--Rkm0604 - Borrowing-->
    <bean class="${name.package.project}.app.rkm.rkm0604.Rkm0604Action" id="rkm0604Action" name="rkm0604Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0604.Rkm0604BizImpl" id="rkm0604Biz" name="rkm0604Biz" parent="baseBiz"/>
    <!--Rkm0606 - Lending-->
    <bean class="${name.package.project}.app.rkm.rkm0606.Rkm0606Action" id="rkm0606Action" name="rkm0606Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0606.Rkm0606BizImpl" id="rkm0606Biz" name="rkm0606Biz" parent="baseBiz"/>
    <!--Rkm0802 - Employee Management-->
    <bean class="${name.package.project}.app.rkm.rkm0802.Rkm0802Action" id="rkm0802Action" name="rkm0802Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0802.Rkm0802BizImpl" id="rkm0802Biz" name="rkm0802Biz" parent="baseBiz"/>
    <!--Rkm0804 - Payment-->
    <bean class="${name.package.project}.app.rkm.rkm0804.Rkm0804Action" id="rkm0804Action" name="rkm0804Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0804.Rkm0804BizImpl" id="rkm0804Biz" name="rkm0804Biz" parent="baseBiz"/>
    <!--Rkm0806 - Payment Detail-->
    <bean class="${name.package.project}.app.rkm.rkm0806.Rkm0806Action" id="rkm0806Action" name="rkm0806Action"/>
    <bean class="${name.package.project}.app.rkm.rkm0806.Rkm0806BizImpl" id="rkm0806Biz" name="rkm0806Biz" parent="baseBiz"/>
</beans>
