<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Cst0202 - -->
    <bean class="${name.package.project}.app.cst.cst0202.Cst0202Action" id="cst0202Action" name="cst0202Action"/>
    <bean class="${name.package.project}.app.cst.cst0202.Cst0202BizImpl" id="cst0202Biz" name="cst0202Biz" parent="baseBiz"/>
    <!--Cst0204 - -->
    <bean class="${name.package.project}.app.cst.cst0204.Cst0204Action" id="cst0204Action" name="cst0204Action"/>
    <bean class="${name.package.project}.app.cst.cst0204.Cst0204BizImpl" id="cst0204Biz" name="cst0204Biz" parent="baseBiz"/>
</beans>
