<?xml version="1.0" encoding="UTF-8"?>
<configuration name="hkaccounting" status="OFF">
	<!-- Log Level : TRACE, DEBUG, INFO, WARN, ERROR and FATAL -->
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %p] - %C.%M(%L) - %m%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="/home/tomcat/logs/hkaccountingRollingFile.log" filePattern="/home/tomcat/logs/$${date:yyyy-MM}/hkaccountingRollingFile-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %p] - %C.%M(%L) - %m%n"/>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<File name="File" fileName="/home/tomcat/logs/hkaccountingFile.log" append="false">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss} %p] - %C.%M(%L) - %m%n" />
		</File>
	</appenders>
	<loggers>
		<logger name="org.springframework" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.apache" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.apache.struts2" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="com.opensymphony" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.apache.ibatis" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.hibernate" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="org.quartz" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="java.sql.Connection" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="java.sql.Statement" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="java.sql.PreparedStatement" level="error">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="java.sql.ResultSet" level="error">
			<appender-ref ref="Console"/>
		</logger>

		<logger name="jdbc.sqlonly" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="jdbc.sqltiming" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="jdbc.audit" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="jdbc.resultset" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="jdbc.connection" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>
		<logger name="log4jdbc.debug" level="error" additivity="false">
			<appender-ref ref="Console"/>
		</logger>

		<root level="debug">
			<appender-ref ref="Console"/>
			<appender-ref ref="RollingFile"/>
			<appender-ref ref="File"/>
		</root>
	</loggers>
</configuration>